<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - LibraNet</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    {% if 'login' not in request.endpoint and 'register' not in request.endpoint %}
    <nav class="navbar">
      <div class="nav-container">
        <a href="{{ url_for('main.landing_page') }}" class="nav-brand">LibraNet</a>

        <div class="nav-links">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.list_books') }}">Book Catalog</a>
                <a href="{{ url_for('main.my_loans') }}">My Loans</a>

                {# This link will only appear if there are items in the bag #}
                <a href="{{ url_for('main.my_bag') }}">
                    My Bag
                    {% if session['bag'] %}
                        ({{ session['bag']|length }})
                    {% endif %}
                </a>

                <a href="{{ url_for('main.profile') }}">Profile</a>
                <a href="{{ url_for('main.logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('main.login') }}">Login</a>
                <a href="{{ url_for('main.register') }}">Register</a>
            {% endif %}
        </div>
      </div>
    </nav>
    {% endif %}

    <main class="container content-wrapper">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
          {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </main>

    {% if 'login' not in request.endpoint and 'register' not in request.endpoint %}
        {% include "footer.html" %}
    {% endif %}

    <style>
        {% if 'login' in request.endpoint or 'register' in request.endpoint %}
            body {
                padding-top: 0 !important;
            }
            main.container {
                padding: 0;
                max-width: none;
            }
        {% endif %}
    </style>
  </body>
</html>