{% extends "base.html" %} {% block content %}
<div class="list-wrapper">
  <h1>Book Catalog</h1>
  <table class="book-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Available Copies</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
      <tr>
        <td>
          <a href="{{ url_for('main.book_detail', book_id=book.id) }}"
            >{{ book.title }}</a
          >
        </td>
        <td>{{ book.author }}</td>
        <td>{{ book.available_copies }} / {{ book.total_copies }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">No books have been added to the library yet.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
